/* General Styles */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: #333;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #222;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #ffffff;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

th{
  color:#222
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

table thead {
  background-color: #B4CBF0;
  color: white;
  font-weight: bold;
}

table th, table td {
  text-align: center;
  padding: 18px;
  border: 1px solid #ddd;
}

table tbody tr:nth-child(odd) {
  background-color: #222;
}

table tbody tr:hover {
  background-color: #333;
  cursor: pointer;
}

table button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #5FA777;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

table button:hover {
  background-color: #218838;
}

table button:last-child {
  background-color: #FF6962;
}

table button:last-child:hover {
  background-color: #c82333;
}

/* Miscellaneous */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 30px 0;
}

button#loadTasksButton {
  display: block;
  width: 100%;
  background-color: #B4CBF0;
  color: #333;
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

button#loadTasksButton:hover {
  background-color: #0056b3;
  color: #ddd;
}

/* Form Styles */
form {
  margin-bottom: 30px;
}

form label {
  display: block;
  margin-bottom: 10px;
  margin-top: 3em;
  font-weight: bold;
}

form input, form select {
  width: 100%; 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

form button[type="submit"] {
  display: block;
  width: 100%;
  background-color: #B4CBF0;
  color: #333;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
  color: #ddd;
}

